.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__group-name
        = @group.name
      %ul.main__header__left-box__member-list
      - @members.each do |member|
        = member.name  
    .main-header__edit-btn
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get, class: "main-header__edit-btn--link"

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'